<a href="https://colab.research.google.com/github/SaiPreethamRoyal/Titanic-Classification/blob/main/Titanic_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TITANIC CLASSIFICATION**

**MOUNT DRIVE FOR CSV FILE**

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**IMPORTING REQ LIBRARIES**

In [11]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

**LOAD DATASET**

In [12]:
# Load dataset
titanic_df = pd.read_csv('/content/drive/My Drive/titanic.csv')
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**DATA PREPROCESING**

In [13]:

# Data exploration and visualization
titanic_df.head() # View the first 5 rows of the dataset
titanic_df.describe() # View the summary statistics of the dataset

# Data preprocessing
titanic_df.drop(['Name','Ticket','Cabin'], axis=1, inplace=True) # Drop unnecessary columns
titanic_df.dropna(inplace=True) # Drop missing values

**TRAIN TEST SPLIT DATASET**

In [14]:

# Convert categorical variables to numerical variables
sex = pd.get_dummies(titanic_df['Sex'],drop_first=True)
embark_location = pd.get_dummies(titanic_df['Embarked'],drop_first=True)
titanic_df.drop(['Sex', 'Embarked'],axis=1,inplace=True)
titanic_df = pd.concat([titanic_df,sex,embark_location],axis=1)

# Split the dataset into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(titanic_df.drop('Survived',axis=1), 
                                                    titanic_df['Survived'], test_size=0.20, 
                                                    random_state=101)

**FIT THE MODEL**

In [15]:
# Train and fit the model using logistic regression
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

**MAKE PREDICTION**

In [16]:

# Make predictions on the testing set
predictions = logmodel.predict(X_test)

**MODEL EVALUATION**

In [17]:

# Model evaluation
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

[[71 13]
 [20 39]]
              precision    recall  f1-score   support

           0       0.78      0.85      0.81        84
           1       0.75      0.66      0.70        59

    accuracy                           0.77       143
   macro avg       0.77      0.75      0.76       143
weighted avg       0.77      0.77      0.77       143